<section id="search" class="section scrollspy">
  <div class="parallax-container">
    <div class="parallax"><img class="image-parallax" src="/assets/home.jpg"></div>
    <div class="container">
      <div class="row">
        <div class="form-itens col 12">
          <div class="form-title">
            <h5 class="center-align">Onde deseja morar?</h5>
          </div>
          <%= form_tag("/houses/search") do %>
            <div class="row">
              <div class="col 6">
                <input name='city' id="autocomplete-input" type="search" class="autocomplete z-depth-5" required></input>
              </div>
              <div class="col 6">
                <button class="waves-effect waves-light btn" id="search-button">
                  Buscar
                </button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="section white">
  <div class="container">
    <h2 class="header center">Encontre o que você procura</h2>
    <p>Diariamente pessoas estão procurando repúblicas para morar, também existem aqueles que procuram preencher vagas para reduzir as dispesas da república onde moram. Pensando em facilitar a busca, nós criamos o Republic que tem como principal objetivo ajudar as pessoas que querem encontrar o lugar ideal para morar. Cadastre-se em nosso site e encontre o que você está procurando da forma mais rápida!</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <a href="#search" class="col s12 m4">
      <div class="card small">
        <div class="card-icon">
          <i class="large material-icons">home</i>
        </div>
        <div class="card-title center">Encontre um Lugar</div>
        <div class="card-content">
          <p>Encontre a república ideal para morar.</p>
        </div>
      </div>
    </a>

    <a href="#" class="col s12 m4">
      <div class="card small">
        <div class="card-icon">
          <i class="large material-icons">person_pin</i>
        </div>
        <div class="card-title center">Encontre uma pessoa</div>
        <div class="card-content">
          <p>Preencha uma vaga na sua república. </p>
        </div>
      </div>
    </a>

    <a href="#" class="col s12 m4">
      <div class="card small">
        <div class="card-icon">
          <i class="large material-icons">chat</i>
        </div>
        <div class="card-title center">Fale conosco</div>
        <div class="card-content">
          <p>Envie uma mensagem para nossos desenvolvedores.</p>
        </div>
      </div>
    </a>
  </div>
</div>

<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="card-panel z-depth-3">
      <div class="col m6">
        <div class="section white center-align">
          <h2 class="header">Parallax</h2>
          <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
          <button class="serach-btn waves-effect waves-light btn">
            Buscar
          </button>
        </div>
      </div>
      <div class="col m6">
        <img class="image-card" src="/assets/republic-sim.png"></div>
      </div>
    </div>
  </div>
</div>
