<p id="notice"><%= notice %></p>


<br>

<div class="container">
  <div class="row">
    <div class="card-panel z-depth-3">
      <div class="col m12">
        <div class="section white center-align">
          <h2 class="header">Duvidas?</h2>
          <p class="grey-text text-darken-3 lighten-3">Acesse a nossa sessão de Perguntas Frequentes (FAQs) ou envie-nos um email</p>
          <p class="grey-text text-darken-3 lighten-3">Curtiu a ideia? Envie-nos sua opinião para que possamos tornar o Republic ainda melhor!</p>
          <button class="search-btn waves-effect waves-light btn">
            Fale Conosco
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card medium z-depth-3">
      <div class="col m12">
        <div class=" section white center-align">
          <h3 class="header">Perguntas Mais Frequentes (FAQs)</h3>
          <h6 class="grey-text text-darken-3 lighten-3">Nós listamos as dúvidas mais frequentes dos nossos usuários para facilitar sua vida:</h6>
          <br/>
          <div class="col m12">
            <ul>
              <li><h6><a href="">Como faço para encontrar uma vaga?</a></h6></li> <br/>
              <li><h6><a href="">Como posso encontrar alguém para morar na minha república?</a></h6></li> <br/>
              <li><h6><a href="">É seguro negociar pelo Republic? </a></h6></li> <br/>
              <li><h6><a href="">O Republic é gratuito? </a></h6></li> <br/>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
