/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize/components/color";
 $primary-color: color("blue", "lighten-2") !default;
 $secondary-color: color("yellow", "base") !default;

 @import "materialize";
 @import "material_icons";
 @import "https://fonts.googleapis.com/icon?family=Material+Icons";

.user-view h5{
  color: white;
}

.user-view h6{
  color: white;
}

.body-content{
  margin: 2% 0px 0px 10%;
}


.image-parallax{
  max-height: 1600px;
  max-width: 1600px
}

.parallax-container{
  height: 600px;
  width: 100%;
  bottom: 15px;
}

.row .col.s6{
  position: relative;
  top: 200px;
  right: 0px;
  left: 325px;
}

.navbar-fixed {
  bottom: 15px;
}

.sidenav-buttom{
  bottom: 0px;
}

.nav-wrapper{
  margin-left: 40px;
  margin-right: 40px;
  opacity: 0.5
}

#autocomplete-input{
  height: 40px;
  background-color: white;
}

#autocomplete-input:focus{
  background-color: white;
}

i.material-icons{
  top: 5px !important;
}

.form-title h5{
  position: relative;
  left: 165px;
  color: white;
  font-size: 35px
}

.card-icon{
  text-align: center;
}
